.container {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "board"
    "submit";
  gap: 1rem;

  .agent-board {
    grid-area: board;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;

    .agent-board__card {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      background-color: #f5d9b6;
      color: black;
      cursor: pointer;
      border-radius: 0.2rem;

      span {
        width: 70%;
        background-color: white;
        padding: 5px;
        margin-bottom: 20px;
        text-align: center;
      }
    }

    .card--selected {
      box-shadow: inset 0px 0px 20px darkblue;
    }
    .card--team1 {
      background-color: lightblue;
    }
    .card--team2 {
      background-color: lightcoral;
    }
    .card--neutral {
      background-color: #c9c9c9;
    }
    .card--kill {
      background-color: black;
    }
  }

  .submit {
    grid-area: submit;
    text-align: center;
    gap: 1rem;

    button {
      border: none;
      color: white;
      padding: 2rem 2rem;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
    }

    button.button--red {
      background-color: darkred;
      &[disabled] {
        background-color: lightcoral;
        cursor: default;
      }
    }

    button.button--blue {
      background-color: #008cba;
      &[disabled] {
        background-color: lightblue;
        cursor: default;
      }
    }

    button.button--transparent {
      background-color: transparent;
      color: transparent;
    }

    button:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
