<div class="container">
  <div class="agent-board">
    <ng-container *ngFor="let word of words">
      <div
        (click)="onCardClick(word)"
        class="agent-board__card"
        [ngClass]="{ 'card--selected': word.isSelected }"
      >
        <span>{{ word.text }}</span>
      </div>
    </ng-container>
  </div>
  <div class="submit">
    <button
      [disabled]="isSubmitDisabled"
      class="button--red"
      (click)="onSubmitTeam1()"
    >
      Confirm as team blue
    </button>
    <button
      [disabled]="isSubmitDisabled"
      class="button--blue"
      (click)="onSubmitTeam2()"
    >
      Confirm as team red
    </button>
  </div>
</div>
