<div class="container">
  <div class="agent-board">
    <ng-container *ngFor="let word of words; index as i">
      <div
        (click)="onCardClick(word)"
        class="agent-board__card"
        [ngClass]="{
          'card--selected': word.isSelected,
          'card--team1': spyService.checkCardState(i) === 'team1',
          'card--team2': spyService.checkCardState(i) === 'team2',
          'card--neutral': spyService.checkCardState(i) === 'neutral',
          'card--kill': spyService.checkCardState(i) === 'kill'
        }"
      >
        <span>{{ word.text }}</span>
      </div>
    </ng-container>
  </div>
  <div class="submit">
    <button
      [disabled]="isSubmitDisabled"
      class="button--blue"
      (click)="onSubmitTeam1()"
    >
      {{ winner === "team1" ? "You won!" : "Confirm as team blue" }}
    </button>
    <button
      [disabled]="isSubmitDisabled"
      class="button--red"
      (click)="onSubmitTeam2()"
    >
      {{ winner === "team2" ? "You won!" : "Confirm as team red" }}
    </button>
    <button class="button--transparent" (click)="onShowSpyCard()">
      Show Spy Card
    </button>
  </div>
  <div class="lost">
    {{ winner === "kill" ? "You lost!" : "" }}
  </div>
</div>
